/* 헤더 */
body {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1.5rem;

  position: absolute;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.left_menu {
  display: flex;
  gap: 1.5rem;
}

.left_menu a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 10rem;
  height: 2rem;
}

.right_section {
  display: flex;
  gap: 1rem;
}

/* 홈배너 */
.home_banner_section img {
  object-fit: cover;
  width: 100%;
  height: 60rem;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;

  position: absolute;
  top: 50rem;
  right: 5rem;
}

.button_wrapper h2 {
  width: 12rem;
  margin: 1rem 0;
  padding: 0.2rem 0.5rem;

  background-color: #f5f7f8;
  color: #16423c;
  border-radius: 5px;
}

.button_wrapper button {
  width: 5rem;
  padding: 0.3rem;
  background-color: #e9efec;
  opacity: 0.8;
  border-radius: 5px;
}

.button_wrapper a {
  color: black;
}

/* 무한배너 */
section.infinite_banner {
  overflow: hidden;
}

.banner_wrapper {
  display: flex;
}

ul.banner_list {
  display: flex;
  animation: bannerAnimation 15s linear infinite;
}

.banner_list img {
  max-width: 15rem;
  aspect-ratio: 1 / 1;
  margin-left: 0.5rem;
}

@keyframes bannerAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
